#contenedor{
width: 450px;
background-color: purple;
color: white;
border-width:2px;
border-color: red;
border-style: double;
text-align:justify;
padding:10px;

transition:width 1s,
           background-color 2s;
-moz-transition:width 1s,
           background-color 2s;
-ms-transition:width 1s,
           background-color 2s;
-webkit-transition:width 1s,
           background-color 2s;
-o-transition:width 1s,
           background-color 2s;

}

#contenedor:hover{
 background-color: blue;
}