/*OPACITY*/
body{
  background-color: blue;
  color:white;
}


#contenedor {
  opacity:0.7;
  background-color:red;
  border-radius: 10px;
  width:500px;
  float:center;
  text-align:justify;
  box-shadow:10px 10px 10px black;
  padding:10px;
  margin:50px;
  margin-left:400;
}